/*pagina login*/
#corpoLogin {
    background-color: cadetblue;
    background-image: url("/img/faca-login-acesso-seguro-verifique-a-identidade-e-o-conceito-de-senha_53876-124066.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

#btEntrar{
    color: green;
}

#esqueceuSenha{
    color: crimson;
}

#email, #senha{
    background-color: lightblue;
    border: none;
}


/*pagina recuperar senha*/

#enviarEmail{
    background-color: darkkhaki;
    border: none;
}


/*pagina alterar senha*/

#corpoAltSenha {
    background-image: url("/img/maos-trabalhando-na-sobreposicao-grafica-da-rede-do-dispositivo-digital_53876-127753.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

#novaSenha, #olho1 {
    border: none;
    padding: 15px;
}

#confirmarNovaSenha, #olho2 {
    border: none;
    padding: 15px; 
}

#enviar{
    width: 25%;
    margin-left: 15px;
}

/*pagina menu*/

#corpoMenu{
    background-color: bisque;
}





    



