#corpoLogin {
    background-color: black;
    background-image: url("/img/vista-traseira-do-programador-trabalhando-a-noite-toda_1098-18697.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#formLogin {
    width: 30%;
    margin: 15%;
    margin-left: 30%;
    padding: 20px;
    background-color: antiquewhite;
}

#btEntrar{
    margin: 15px;
    width: 28%;
    background-color: rgb(82, 147, 126);
    border: none;
    padding: 8px;
    color: rgb(243, 240, 236);
    margin-left: auto;
    margin-right: auto;
}

#esqueceuSenha{
    width: 25%;
    margin: 10px;
    margin-left: 30%;
    color: rgb(135, 135, 189);

}

#login {
    background-color: lightblue;
    border: none;
}

#senha {
    background-color: lightblue;
    border: none;
}
/*pagina login*/



#corpoRecSenha{
    background-color:aquamarine;
    background-image: url();
}

#formRecSenha{
    background-color: antiquewhite;
    width: 30%;
    margin: 15%;
    margin-left: 30%;
    padding: 35px;
}

#informeEmail{
    background-color: cadetblue;
    border: none;
    padding: 10px;
}

#confirmarEmail{
    background-color: cadetblue;
    border: none;
    padding: 10px;
    margin-top: 35px;
}

#btEnviarSenha{
    width: 25%;
    border: none;
    padding: 8px;
    margin-top: 30px;
}
/*pagina recuperar senha*/



#corpoAltSenha {
    background-color: aquamarine;
    background-image: url();
}

#formAltSenha{
    width: 30%;
    margin: 15%;
    margin-left: 30%;
    padding: 20px;
    background-color: antiquewhite;

}

#bt1 {
    width: 30%;
    margin-left: 15%;
}
#bt2{
    width: 30%;
    margin-left: 15%;
}

#btEntrar2{
    width: 60px;
    margin-left: 55%;
}
/*pagina alterar senha*/